# IDE
.idea/
.vscode/
*.iml/
out/

# Used by helper scripts
.adventofcode.session
all.json
slow.json
images/archive/

# Python
*.pyc
__pycache__
.pytest_cache
aoc.egg-info

# Java / Gradle
*.class
*.project
*.classpath
*.factorypath
.gradle/
.settings/
build/

# Rust
target/

# OCaml
_build/

# Node
node_modules/

# Zig
.zig-cache/
zig-out/
