# IDE
.idea
.vscode
*.iml
out

# Used by helper scripts
.adventofcode.session
all.json
slow.json
images/archive

# Python
__pycache__
*.pyc
.pytest_cache
aoc.egg-info

# Java / Gradle
.gradle
build
bin
kls_database.db
.settings
.project
.classpath
.factorypath

# Rust
target

# OCaml
_build

# Node
node_modules
