# IDE
.idea/
.vscode/
*.iml/
out/

# used by helper scripts
.adventofcode.session
all.json
slow.json

# python
*.pyc
__pycache__
.pytest_cache
aoc.egg-info

# java / gradle
*.class
*.project
*.classpath
*.factorypath
.gradle/
.settings/
build/

# rust
target/

# ocaml
_build/

# node
node_modules/

# zig
.zig-cache/
zig-out/
